@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --dark1: 8, 28, 65;
  --dark2: 86, 111, 184;
  --light2: 147, 209, 230;
  --light1: 204, 238, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 32, 33, 36;
    --dark1: 8, 28, 65;
    --dark2: 86, 111, 184;
    --light2: 147, 209, 230;
    --light1: 204, 238, 255;
  }
}

body {
  background-color: var(--background-rgb);
  color: var(--foreground-rgb);
}
